{
    "extends": [
        "eslint:recommended",
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2017,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "impliedStrict": true,
            "classes": true
        }
    },
    "env": {
        "jest/globals": true,
        "browser": true,
        "node": true,
        "jquery": true
    },
    "rules": {
        "import/no-extraneous-dependencies": 0,
        "import-name": false,
        "indent": "off",
	"no-plusplus": "off",
        "interface-name": false,
        "jsx-a11y/anchor-is-valid": [
            "warn",
            {
                "aspects": ["invalidHref"]
            }
        ],
        "jsx-a11y/href-no-hash": "off",
        "jsx-boolean-value": [true, "never"],
        "jsx-no-multiline-js": false,
        "max-line-length": { "options": [80] },
        "no-consecutive-blank-lines": [true, 2],
        "no-console": 0,
        "no-null-keyword": true,
        "no-unused-vars": [
            1,
            {
                "argsIgnorePattern": "res|next|stage|^err|on|config"
            }
        ],
        "no-use-before-define": 0,
        "object-literal-sort-keys": false,
        "ordered-imports": [
            true, { "named-imports-order": "lowercase-last" }
        ],
        "react/forbid-prop-types": [
            true,
            {
                "forbid": ["array", "any"]
            }
        ],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "semi": 1,
        "trailing-comma": [
            true, { "multiline": "never", "singleline": "never" }
        ],
        "variable-name": false
    },
    "plugins": ["prettier", "react-hooks", "jest"]
}
